html,
body {
	min-width: 1122px;
	min-height: 1750px;
	margin: 0;
	padding: 0;
	font-size: 17px;
	line-height: 17px;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

header {
	width: 100%;
	font-size: 17px;
	line-height: 18px;
}

.main-header {
	padding-bottom: 60px;
	background-color: #f1f5f7;
}
.header-top {
	width: auto;
	background-color: #293449;
	height: 42px;
	margin-bottom: 42px;
}

.container {
	width: 940px;
	padding: 0;
	margin: 0 auto;
	background-color: #adf6b7;
}

.logo {
	width: 220px;
	min-height: 42px;
	float: left;
	border-bottom: 5px solid #b72f38;
	background-color: #ee3643;
}

.search {
	width: 270px;
	float: left;
	background-color: grey;
	min-height: 42px;
}

.hidden {
	display: none;
}

.client-block {
	width: 450px;
	float: right;
	margin: 0;
    padding: 0;
    list-style: none;
}

.client-block li {
	display: inline-block;
	width: 150px;
	font-size: 17px;
	min-height: 42px;
}

.client-block a {
	color: #ffffff;
	display: block;
	padding: 12px 10px;
	background-color: red;
}

ul {
	font-size: 0;
	padding: 0;
	margin: 0;
	list-style: none;
}

.header-middle {
	min-height: 72px;
}

.header-middle .container > p {
	float: left;
	margin-left: 50px;
	margin-right: 65px;
	background-color: yellow;
}

.main-contacts {
	float: left;
	width: 270px;
	
}

.phone {
	width: 264px;
	height: 39px;
	border: 3px solid #ffffff;
}

.user-block {
	float: right;
}

.user-name {
	width: 300px;
	min-height: 45px;
	background-color:  #ffffff;
} 

.login {
	width: 120px;
	margin-right: 10px;
	display: inline-block;
	background-color: #ffffff;
	min-height: 45px;
}
.sing-up {
	width: 150px;
	display: inline-block;
	background-color: #ffffff;
	min-height: 45px;
}

.header-bottom {
	width: 940px;
	border-bottom: 4px solid #293449;
	margin: 0 auto;
}

.main-navigation ul li {
	display: inline-block;
	font-size: 17px;
	min-height: 55px;
	background-color: #32425c;
}

.main-navigation a {
	display: block;
	padding: 20px 30px;
	color: #ffffff;
}

.promo {
	min-height: 410px;
	margin-bottom: 54px;
}

.promo ul {
	font-size: 17px;
	padding-left: 0;
	margin: 0; 
}

.promo-item {
	float: left;
	background-color: yellow;
	width: 300px;
	height: 122px;
	list-style: none;
}
.materials {
	background-color: #f6b22d;
	margin-right:20px;
}

.instruments {
	background-color: #4aafde;
	margin-right:20px;
}
.technics {
	background-color: #cc79d1;
}

.discounts {
	background-color: #85d179;
	margin-top: 20px;
}

.delivery {
	background-color: #f6b22d;
	margin-top: 20px;
}

.perforator  {
	width: 620px;
	height: 266px;
	margin-top: 20px;
	margin-right: 20px;
}

.default-title {
	background-color: #f7f3ec;
	height: 90px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.default-title h2 {
	display: inline-block;
	background-color: grey;
	width: 365px;
	margin-right: 263px;
}

.default-title a {
	display: inline-block;
	background-color: #ee3643;
	width: 253px;
	height: 38px;
}

article {
	float: left;
	width: 218px;
	height: 316px;
	border: 2px solid #e5e5e5;
	margin-right: 10px;
	text-align: center;
}

.brands li {
	float: left;
	width: 218px;
	height: 143px;
	background-color: #ffffff;
	margin-right: 10px;
	margin-top: 20px;
}

.brands ul {
	padding: 0;	
}

.services {
	width: 100%;
	background-color: #f2f6f8;
	min-height: 522px;
}

.company {
	float: left;
	width: 550px;
}

.information {
	margin-top: 75px;
	margin-bottom: 75px;
}
.main-footer {
	min-height: 300px;
}
.footer-top {
	min-height: 195px;
	background-color: #32425c;
}
.footer-top-left {
	width: 380px;
	float: left;
	
}
.footer-top-right {
	float: right;
	margin-top: 40px;
	margin-bottom: 75px;	
}
.footer-contacts {
	margin-top: 95px;
	padding-bottom: 50px;
}
.footer-nav li {
	display: inline-block;
	font-size: 17px;
	background-color: grey;
	padding: 10px;
}
.footer-menu li {
	display: inline-block;
	font-size: 17px;
	background-color: grey;
	padding: 10px;
}
.footer-bottom {
	background-color: #293449;
}
.copyright {
	float: left;
	width: 240px;
	margin-right: 140px;
	background-color: yellow;
}
.social {
	float: left;
	width: 140px;
	margin-right: 90px;
	background-color: yellow;
}
.feedback {
	float: right;
	width: 290px;
	background-color: yellow;
}

.breadcrumbs a {
	display: block;
	padding-right: 15px;
	padding-left: 10px;

}
.breadcrumbs li {
	display: inline-block;
	font-size: 17px;
}
.default-title h1 {
	min-height: 60px;
	background-color: #f2f6f8;
}

.filtres {
	float: left;
	min-height: 1200px;
	background-color: green;
}

.filter-item input {
	width: 95px;
}
.sort {
	float: right;
	width: 700px;
	height: 38px;
	background-color: grey;
}
.filtres span {
	display: block;
	width: 220px;
	height: 38px;
	margin-right: 20px;
	background-color: grey;
}

.description {
	background-color: #f2f6f8;

}
.description p {
	margin: 0;
	padding-bottom: 70px;
}