html,
body {
	min-width: 940px;
	margin: 0;
	padding: 0;
	font-size: 17px;
	line-height: 18px;
	font-family: "Cuprum", sans-serif;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.container {
	width: 940px;
	padding: 0;
	margin: 0 auto;
}

.main-header {
	padding-bottom: 60px;
	background-color: #f1f5f7;
}

.header-top {
	width: auto;
	background-color: #293449;
	height: 42px;
	margin-bottom: 46px;
}

.logo {
	float: left;
	border-bottom: 5px solid #b72f38;
	background-color: #ee3643;
}

.logo a {
	display: block;
	width: 110px;
	text-decoration: none;
	font-size: 24px;
	line-height: 24px;
	color: #ffffff;
	padding: 9px 55px;
	text-transform: uppercase;
}

.logo a:hover {
	background-color: #ca2c37;
}

.logo a:active {
	background-color: #ba2732;
}

.search {
	position: relative;
	width: 270px;
	float: left;
}

.search input {
	width: 100%;
	min-height: 42px;
	background-color: #293449;
	font-family: "Cuprum", sans-serif;
	font-size: 17px;
	border: none;
	padding-left: 49px;
}

.icon-search {
	position: absolute;
	top: 12px;
	left: 17px;
	background-color: transparent;
	border: transparent;
	background-image: url("../img/spritesheet.png");
	background-repeat: no-repeat;
    width: 17px;
    height: 17px;
	background-position: -54px -134px;
	opacity: 0.3;
}

input[type="search"]::-webkit-input-placeholder {
	color: #ffffff;
}

input[type="search"]::-moz-placeholder {
	color: #ffffff;
}

.icon-search:hover {
	opacity: 1;
}

.search input:hover {
	background-color: #212a3a;
}

.icon-search:active {
	opacity: 0.3;
}

.search input:active {
	background-color: #293449;
}

.search input:focus {
	background-color: #ffffff;
	color: #000000;
	outline: none;
	background-image: url("../img/search-search.png");
	background-repeat: no-repeat;
	background-position: 17px 12px;
}

.hidden {
	display: none;
}

.client-block {
	margin: 0;
	padding: 0;
}

.client-block ul {
	width: 450px;
	float: right;
	margin: 0;
	padding: 0;
	font-size: 0;
	list-style: none;
}

.client-block li {
	display: inline-block;
	font-size: 17px;
	line-height: 18px;
	vertical-align: top;
}

.client-block a {
	display: block;
	width: 150px;
	color: #ffffff;
	text-decoration: none;
	box-sizing: border-box;
}

.bookmark {
	position: relative;
	padding: 12px 27px 12px 44px;
}

.bookmark::before {
	content: "";
	position: absolute;
	top: 12px;
	left: 17px;
	background-image: url("../img/spritesheet.png");
	background-repeat: no-repeat;
	width: 14px;
	height: 16px;
	background-position: -139px -31px;
	opacity: 0.3;
}

.bookmark:hover {
	background-color: #212a3a;
}

.bookmark:hover::before{
	opacity: 1;
}

.bookmark:active {
	background-color: #161d29;
	opacity: 0.5;
}

.basket {
	position: relative;
	padding: 12px 25px 12px 50px;
}

.basket::before {
	content: "";
	position: absolute;
	top: 12px;
	left: 17px;
	background-image: url("../img/spritesheet.png");
	background-repeat: no-repeat;
	width: 17px;
	height: 16px;
	background-position: -137px -5px;
	opacity: 0.3;
}

.basket:hover {
	background-color: #212a3a;	
}

.basket:hover::before {
	opacity: 1;
}

.basket:active {
	background-color: #161d29;
	opacity: 0.5;
}

.checkout {
	padding: 12px 21px 12px 20px;
	background-color: #63a63e;
}

.checkout:hover {
	background-color: #5fbb2d;
}

.checkout:active {
	background-color: #518534;
	color: #aac39b;
}

.header-title {
	width: 198px;
	float: left;
	margin-left: 53px;
	margin-right: 71px;
	margin-top: 3px;
	color: #ee3643;
	font-style: italic;
	font-size: 16px;
	line-height: 23px;
}

.main-contacts {
	float: left;
	width: 270px;
	font-size: 14px;
	line-height: 24px;
}

.phone {
	position: relative;
	width: 144px;
	border: 3px solid #ffffff;
	line-height: 18px;
	font-size: 21px;
	color: #e93536;
	padding: 11px 49px 10px 68px;
}

.phone::before {
	content: "";
	position: absolute;
	top: 10px;
	left: 10px;
	background-image: url("../img/spritesheet.png");
	background-repeat: no-repeat;
	width: 19px;
	height: 19px;
	background-position: -163px -55px;
}

.location {
	padding-left: 9px;
	padding-right: 9px;
	padding-top: 4px;
	color: #32425c;
}

.login {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 46px;
	margin-right: 5px;
	color: #000000;
	font-size: 21px;
	line-height: 18px;
	background-color: #ffffff;
	text-decoration: none;
	padding: 14px 26px 13px 48px;
}

.login::before {
	content: "";
	position: absolute;
	top: 14px;
	left: 15px;
	background-image: url("../img/spritesheet.png");
	background-repeat: no-repeat;
	width: 20px;
	height: 17px;
	background-position:  -67px -107px;
}

.login:hover {
	color: #ee3643;
}

.login:hover::before {
	content: "";
	position: absolute;
	top: 14px;
	left: 15px;
	background-image: url("../img/spritesheet.png");
	background-repeat: no-repeat;
	width: 20px;
	height: 17px;
	background-position: -97px -107px;
}

.login:active {
	color: #c5c5c5;
}

.login:active::before {
	opacity: 0.3;
}

.sing-up {
	width: auto;
	display: inline-block;
	color: #000000;
	font-size: 21px;
	line-height: 18px;
	vertical-align: top;
	background-color: #ffffff;
	text-decoration: none;
	padding: 14px 24px 13px 25px;
}

.sing-up:hover {
	color: #ee3643;
}

.sing-up:active {
	color: #c5c5c5;
}

.user-block {
	float: right;
}

.user-active {
	position: relative;
	width: 300px;
	background-color:  #ffffff;
} 

.user-name {
	display: block;
	font-size: 21px;
	color: #000000;
	text-decoration: none;
	padding: 13px 65px 14px 47px;
}

.user-name:active {
	color: #b2b2b2;
}

.icon-user {
	position: absolute;
	top: 12px;
	left: 14px;
	background-image: url("../img/spritesheet.png");
	background-repeat: no-repeat;
	width: 20px;
	height: 18px;
	background-position: -81px -134px;
}

.icon-user:hover {
	background-position: -111px -134px;
}

.icon-user:active {
	background-position: -81px -134px;
}

.icon-logout {
	position: absolute;
	top: 14px;
	right: 10px;
	background-image: url("../img/spritesheet.png");
	background-repeat: no-repeat;
	width: 20px;
	height: 18px;
	background-position: -127px -107px;
}

.icon-logout:hover {
    background-position: -5px -134px;
}

.icon-logout:active {
	background-position: -127px -107px;
}

.orders,
.account {
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	line-height: 18px;
	color: #32425c;
	padding: 3px 15px 3px 18px;
}

.account {
	padding-left: 15px;
}

.orders:hover,
.account:hover {
	color: #ee3643;
}

.orders:active,
.account:active {
	color: #b2b2b2;
}

.header-bottom {
	width: 940px;
	margin: 0 auto;
	margin-top: 24px;
}

.main-navigation{
	width: 940px;
}

.main-navigation ul {
	padding: 0;
	margin: 0;
	font-size: 0;
	list-style: none;
	background-color: #32425c;
}

.main-navigation li {
	display: inline-block;
	vertical-align: middle;
	font-size: 17px;
	line-height: 17px;	
}

.main-navigation a {
	display: block;
	padding: 19px 30px;
	text-align: center;
	color: #ffffff;
	text-decoration: none;
	border-bottom: 5px solid #293449;
}

.main-navigation .nav-main-page {
	padding-left: 52px;
	padding-right: 34px;
}

.main-navigation .nav-contacts {
	padding-left: 32px;
	padding-right: 54px;
}

.main-navigation a:hover {
	background-color: #1d2739;
	border-color: #1d2739;
}

.main-navigation a:active {
	color: #868c95;
}

.promo {
	margin-top: 60px;
	min-height: 410px;
	margin-bottom: 53px;
}

.promo ul {
	font-size: 0;
	padding-left: 0;
	margin: 0; 
}

.promo-item {
	float: left;
	width: 300px;
	height: 122px;
	padding: 20px 30px 19px 23px;
	list-style: none;
	box-sizing: border-box;
}

.promo-item b {
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	color: #ffffff;
}

.promo-item a {
	display: block;
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	text-transform: uppercase;
	padding: 10px 20px;
	margin-top: 12px;
	text-decoration: none;
	border-radius: 3px;
	width: 95px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.1);	
}

.promo-item a:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

.promo-item a:active {
	background-color: rgba(0, 0, 0, 0.3);
}

.materials {
	position: relative;
	background-color: #f6b22d;
	background-image: url("../img/materials.png");
	background-repeat: no-repeat;
	background-position: 213px 31px;
	margin-right:20px;
}

.instruments {
	margin-right:20px;
	background-color: #4aafde;
	background-image: url("../img/instruments.png");
	background-repeat: no-repeat;
	background-position: 197px 33px;
}

.technics {
	background-color: #cc79d1;
	background-image: url("../img/technics.png");
	background-repeat: no-repeat;
	background-position: 191px 31px;
}

.discounts {
	background-color: #85d179;
	background-image: url("../img/discounts.png");
	background-repeat: no-repeat;
	background-position: 196px 26px;
	margin-top: 20px;
}

.delivery {
	background-color: #f6b22d;
	background-image: url("../img/delivery.png");
	background-repeat: no-repeat;
	background-position: 191px 32px;
	margin-top: 21px;
}

.gallery  {
	position: relative;
	width: 620px;
	height: 265px;
	margin-top: 20px;
	margin-right: 20px;
	padding: 0;
}

.slide {
	width: 620px;
	height: 265px;
	margin: 0;
	padding: 0;
}

.slide-title {
	font-weight: bold;
	font-size: 36px;
	line-height: 30px;
	color: #ffffff;
	text-transform: uppercase;
	padding: 26px 0 4px 25px;
}

.slide p {
	font-family: "PT Sans", sans-serif;
	color: #ffffff;
	font-size: 18px;
	line-height: 24px;
	margin: 0;
	margin-left: 26px;	
}

.slides a {
	position: absolute;
	bottom: 22px;
	left: 25px;
	display: block;
	width: 105px;
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	text-transform: uppercase;
	padding: 12px 43px 8px 47px;
	text-decoration: none;
	border-radius: 3px;	
	background-color: #ee3643;
}

.slides a:hover {
	background-color: #ca2c37;
}

.slides a:active{
	background-color: #ba2732;
}

.gallery-controls {
	position: absolute;
	bottom: 36px;
	left: 296px;
	width: 40px;
	height: 10px;
	text-align: center;
	z-index: 8;
}

.gallery-controls label {
	display: inline-block;
	width: 6px;
	height: 6px;
	margin: 0;
	margin-right: 10px;
	background-color: #ffffff;
	border: 2px solid white;
	vertical-align: top;
	border-radius: 50%;
	cursor: pointer;
}

.gallery #slide1 {
	background-image: url("../img/slider1.jpg");
	background-repeat: no-repeat;
}

.gallery #slide2 {
	background-image: url("../img/slider2.jpg");
	background-repeat: no-repeat;
}

.slide {
	display: none;
}

.gallery input[type=radio] {
	position: absolute;
	opacity: 0;
}

#promo-btn1:checked ~ .slides #slide1,
#promo-btn2:checked ~ .slides #slide2 { 
	display: block;
}

#promo-btn1:checked ~ .gallery-controls label[for="promo-btn1"],
#promo-btn2:checked ~ .gallery-controls label[for="promo-btn2"] { 
	background-color: #ee3643;
}

.btn-prev {
	position: absolute;
	top: 112px;
	left: 24px;
	background-color: transparent;
	border-color: transparent;
	background-image: url("../img/icon-prev.png");
	background-repeat: no-repeat;
	width: 23px;
	height: 40px;
	cursor: pointer;
}

.btn-next {
	position: absolute;
	top: 112px;
	right: 20px;
	background-color: transparent;
	border-color: transparent;
	background-image: url("../img/icon-next.png");
	background-repeat: no-repeat;
	width: 24px;
	height: 40px;
	cursor: pointer;
}


.default-title {
	background-color: #f7f3ec;
	margin-top: 19px;
}

.default-title h2 {
	display: inline-block;
	vertical-align: top;
	width: 632px;
	margin-right: px;
	padding-left: 26px;
	margin-top: 28px;
	margin-bottom: 31px;
	text-transform: uppercase;
	font-size: 30px;
	line-height: 30px;
	font-weight: normal;
	color: #32425c;
}

.default-title a {
	display: inline-block;
	width: 253px;
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 3px;
	background-color: #ee3643;	
	vertical-align: top;
	margin-bottom: 28px;
	margin-top: 23px;
}

.default-title a:hover {
    background-color: #ca2c37;
}

.default-title a:active{
    background-color: #ba2732;
}

.catalog-item {
	position: relative;
	float: left;
	width: 220px;
	height: 318px;
	border: 1px solid #e5e5e5;
	text-align: center;
	box-sizing: border-box;
	margin-left: 20px;
	margin-top: 20px;
}

.catalog-item .image{
	width:218px;
	height:168px;
}

.catalog-item .image img{
	max-width:100%;
	margin: 25px 38px 45px 18px;
}

.catalog-item .flag {
	position: absolute;
	top: -1px;
	right: -1px;
	width: 60px;
	height: 60px;
	text-indent: -1000px;
	overflow: hidden;
	z-index: 5;
}

.flag-new {
	background: url("../img/icon-new.png") no-repeat 0 0;
}

.promo-item .flag {
	position:absolute;
	top: 0;
	right: 0;
	width: 60px;
	height: 60px;
	text-indent: -1000px;
	overflow: hidden;
	z-index: 5;
}

.catalog-item .title {
	min-height: 40px;
	font-family: "PT Sans", sans-serif;
	font-weight: bold;
	font-size: 18px;
	line-height: 20px; 
	padding: 0 25px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.catalog-item:first-child {
	margin-left: 0;
}

.catalog .catalog-item:nth-child(3n+1) {
	margin-left: 0;
}

.catalog {
	float: right;
	width: 700px;
}

.old-price {
	min-height: 20px;
	font-family: "PT Sans", sans-serif;
	font-weight: bold;
	font-size: 17px;
	line-height: 18px; 
	color: #999999;
	text-decoration: line-through;
	text-transform: uppercase;
}

.price {
	position: relative;
	display: block;
	width: 140px;
	font-family: "PT Sans", sans-serif;
	font-weight: bold;
	font-size: 17px;
	line-height: 18px; 
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	margin: 7px 36px 13px 42px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 3px;
	background-color: #ee3643;
}

.catalog-item .price:after{
	content: "";
	position:absolute;
	top: 0px;
	right: -20px;
	width: 0;
	height: 0;
	border: 19px solid white;
	border-left-color: #ee3643;
}

.catalog-item .actions {
	position: absolute;
	top: 0;
	left: 0;
	width: 218px;
	height: 88px;
	padding: 40px 0;
	background-color: rgba(255,255,255,0.9);
	z-index: 8;
}

.actions .buy,
.actions .to-bookmark {
	display: block;
	width: 129px;
	margin: 0 auto;
	margin-bottom: 7px;
	padding: 7px 0;
	border: 3px solid #63a63e;
	border-bottom-color: #367315; 
	background-color: #63a63e;
	color: white;
	font-size: 14px;
	font-weight: normal;
	font-family: "Cuprum", sans-serif;
	line-height: 18px;
	text-decoration: none;
	text-transform: uppercase;    
	border-radius: 3px;
}

.actions .to-bookmark {
	color: #32425c;
	background: white;
	border-bottom-color: #63a63e;
}

.actions {
	display: none;
}

.catalog-item:hover .actions{
	display:block;
}

.actions .buy {
	position: relative;
}

.buy::before {
	content: "";
	position: absolute;
	top: 7px;
	left: 10px;
	background-image: url("../img/spritesheet.png");
	background-repeat: no-repeat;
	width: 17px;
	height: 16px;
	background-position: -137px -5px;
	opacity: 0.3;
}

.actions .buy:hover {
	background-color: #5fbb2d;
	border-color: #5fbb2d;
	border-bottom-color: #367315;
} 

.buy:hover::before {
	opacity: 1;
}

.actions .buy:active {
	background-color: #518534;
	border-color: #518534;
}

.buy:active::before {
	opacity: 1;
}

.actions .to-bookmark:hover {
	border-color: #32425c;
}

.actions .to-bookmark:active {
	border-color: #c1c6ce;
	color: #c1c6ce;
}

.brands li {
	float: left;
	width: 220px;
	height: 145px;
	border: 1px solid #e5e5e5;
	margin-left: 20px;
	margin-top: 20px;
	box-sizing: border-box;
	list-style: none;
}

.brands li:first-child,
.brands li:nth-child(5) {
	margin-left: 0;
}

.brands ul {
	background-color: yellow;
	padding: 0;
	margin: 0;
}

.services {
	width: 100%;
	background-color: #f2f6f8;
	margin-top: 85px;
	padding-top: 65px;
}

.services h3 {
	font-family: "Cuprum", sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: normal;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 26px;
}

.services p {
	width: 400px;
	font-family: "PT Sans", sans-serif;
	font-size: 13px;
	line-height: 24px; 
}

.service-slider {
	width: 940px;
	padding-bottom: 102px;
	padding-top: 55px;
}

.service-title {
	width: 150px;
	font-size: 30px;
	line-height: 24px;
	font-family: "Cuprum", sans-serif;
	font-size: 36px;
	line-height: 24px;
	color: #32425c;
	text-transform: uppercase;
	margin-top: 5px;
	margin-bottom: 32px;
}

.service {
	width: 380px;
	font-family: "PT Sans", sans-serif;
	font-size: 13px;
	line-height: 24px; 
}

.slider-controls label {
	display: block;
	width: 218px;
	padding-left: 22px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #32425c;
	border-bottom: 1px solid #293449;
	border-top: 1px solid #405069;
	cursor: pointer;
	color: #ffffff;
	font-size: 21px;
}

.slider-controls {
	position: relative;
	float: left; 
}

.slider-controls::before {
	position: absolute;
	content: "";
	top: -45px;
	left: 230px;
	background-image: url("../img/shadow.png");
	background-repeat: no-repeat;
	width: 10px;
    height: 279px;
    opacity: 0.25;
}

.services input[type="radio"] {
	display: none;
}

.service-item {
	float: right;
	display: none;
	width: 620px;
	margin-left: 80px;
}

.credit-btn {
	display: block;
	width: 195px;
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 3px;
	background-color: #ee3643;	
	margin-top: 25px;
}

#btn-1:checked ~ .service-slider #item1,
#btn-2:checked ~ .service-slider #item2,
#btn-3:checked ~ .service-slider #item3 {
	display: block;
}

#btn-1:checked ~ .service-slider label[for="btn-1"],
#btn-2:checked ~ .service-slider label[for="btn-2"],
#btn-3:checked ~ .service-slider label[for="btn-3"] {
	background-color: #ffffff;
	color: #32425c;
	border-color: #ffffff;
}

.slider-controls label:hover {
	background-color: #293449;
}

#btn-1:checked ~ .service-slider {
	background-image: url("../img/car.png");
	background-repeat: no-repeat;
	background-position: 100% 100%;
}

#btn-2:checked ~ .service-slider {
	background-image: url("../img/guarantee.png");
	background-repeat: no-repeat;
	background-position: 100% 100%;
}

#btn-3:checked ~ .service-slider {
	background-image: url("../img/credit.png");
	background-repeat: no-repeat;
	background-position: 100% 100%;
}

.company {
	float: left;
	width: 530px;
}

.contacts {
	float: right;
	width: 300px;
}

.information {
	margin-top: 82px;
	margin-bottom: 75px;
}

.information h3 {
	width: 310px;
	font-size: 30px;
	line-height: 30px;
	font-weight: normal;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 25px;
}

.information p {
	font-family: "PT Sans", sans-serif;
	font-size: 13px;
	line-height: 24px;
	margin: 25px 0;
}

.company li {
	margin: 0;
	padding: 0;
}

.company a,
.btn-feedback {
	display: inline-block;
	width: 300px;
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	text-transform: uppercase;
	padding-top: 10px;
	padding-bottom: 10px;
	text-decoration: none;
	border-radius: 3px;
	text-align: center;
	background-color: #ee3643;	
}

.company a:hover,
.btn-feedback:hover {
	background-color: #ca2c37;
}

.company a:active,
.btn-feedback:active {
	background-color: #ba2732;
}

.company a {
	width: 219px;
}

.btn-feedback {
	margin-top: 34px;
}

.company li {
	padding: 10px;
}

.footer-top {
	background-color: #32425c;
}

.footer-top-left {
	width: 326px;
	float: left;
}

.footer-logo a {
	display: block;
	width: 138px;
	text-decoration: none;
	font-size: 30px;
	line-height: 30px;
	color: #ffffff;
	padding: 14px 41px;
	text-transform: uppercase;
}

.footer-contacts {
	margin-top: 95px;
	margin-bottom: 50px;
	width: 326px;
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
	padding-left: 3px;
}

.footer-top-right {
	float: right;
	margin-top: 35px;
	margin-bottom: 75px;	
}

.footer-nav {
	padding: 0;
	margin: 0;
	margin-bottom: 32px;
}

.footer-menu {
	padding: 0;
	margin: 0;
	margin-left: 10px;
}

.footer-nav ul,
.footer-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}

.footer-nav li,
.footer-menu li {
	display: inline-block;
	font-size: 18px;
	line-height: 24px;
	vertical-align: top;
}

.footer-nav a {
	display: block;
	margin-left: 56px;
	color: #ffffff;
	text-decoration: none;
}

.footer-menu a {
	display: block;
	margin-left: 60px;
	color: #ffd180;
	text-decoration: none;
}

.footer-menu a:hover,
.footer-nav a:hover {
	text-decoration: underline;
}

.footer-menu a:active,
.footer-nav a:active {
	opacity: 0.5;
	text-decoration: none;
}

.footer-bottom {
	background-color: #293449;
	font-size: 16px;
	line-height: 18px;		
	padding-top: 20px;
	padding-bottom: 19px;
}

.copyright-left {
	float: left;
	width: 230px;
	margin-right: 140px;
	color: #ffffff;
}

.social {
	float: left;
	width: 134px;
	margin-right: 116px;
	padding-top: 13px;
	padding-bottom: 13px;
}

.feedback {
	float: right;
	width: 300px;
	color: #ffffff;
}

.feedback a {
	color: #ffd180;
	text-decoration: none;
}

.feedback a:hover {
	text-decoration: underline;
}

.feedback a:active {
	color: #c73644;
}

.feedback p {
	display: inline-block;
	text-align: left;
}

.copyright-right {
	padding-left: 30px;
}

.breadcrumbs ul {
	margin: 0;
	padding: 0;
	padding-top: 20px;
}

.breadcrumbs li {
	position: relative;
	display: inline;
	padding-left: 26px;
	margin-right: 15px;
}

.breadcrumbs li::before {
	content: "";
	position: absolute;
	top: 4px;
	left: 0px;
	background-image: url("../img/spritesheet.png");
	background-repeat: no-repeat;
	width: 8px;
	height: 12px;
	background-position: -36px -134px;
}

.breadcrumbs .main-page::before  {
	display: none;
}

.breadcrumbs a {
	font-family: "PT Sans", sans-serif;
	font-size: 13px;
	line-height: 18px; 
	text-decoration: none;
	color: #000000; 
	text-transform: uppercase;
}

.main-page a {
	position: absolute;
	top: 4px;
	left: 0px;
	background-image: url("../img/spritesheet.png");
	background-repeat: no-repeat;
	width: 15px;
	height: 12px;
	background-position: -114px -85px;
}

 .breadcrumbs .main-page {
	margin-right: 8px;
}

h1 {
	background-color: #f2f6f8;
	font-size: 30px;
	line-height: 30px;
	color: #32425c;
	text-transform: uppercase;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 30px;
}

.filtres {
	float: left;
	width: 220px;
}

.range-controls {
	position: relative;
	height: 41px;
	padding-top: 39px;
	padding-right: 20px;
	padding-left: 20px;
	margin-bottom: 15px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	background: #f7f3ec;
}

.range-controls .scale {
	height: 2px;
	background: #d7dcde;
}

.range-controls .bar {
	width: 70%;
	height: 2px;
	background: #00ca74;
}

.range-controls .bar {
	width: 80%;
	height: 2px;
	background: #00ca74;
}

.range-controls .toggle {
	position: absolute;
	top: 30px;
	left: 0px;
	width: 4px;
	height: 4px;
	cursor: pointer;
	border: 8px solid #ffffff;
	background: #ababab;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
	left: 20px;
}

.range-controls .toggle-max {
	left: 160px;
}

.price-controls {
	font-size: 0;
}

.max-price {
	text-align: right;
}

.price-controls input {
	width: 75px;
	padding: 9px 10px;
	font-family: "PT Sans", sans-serif;
	font-size: 17px;
	text-align: center;	
	border: none;
	border-radius: 3px;
	background: #f7f3ec;
}

.price-controls .dash {
	display: inline-block;
	width: 10px;
	height: 1px;
	background-color: #000000;
	margin: 19px 10px 18px 10px;
	vertical-align: top;
}

.filtres h2 {
	font-family: "PT Sans", sans-serif;
	font-size: 17px;
	line-height: 30px; 
	text-transform: uppercase;
}

.sort {
	position: relative;
	float: right;
	width: 700px;
	background-color: #f7f3ec;
	font-family: "PT Sans", sans-serif;
	font-size: 13px;
	line-height: 18px; 
	padding-top: 10px;
	padding-bottom: 10px;
}

.sort span {
	display: inline-block;
	vertical-align: top;
	width: 220px;
	font-family: "PT Sans", sans-serif;
	font-size: 13px;
	line-height: 18px; 
	text-transform: uppercase;
	padding-left: 18px;
}

.sort ul {
	float: right;
	width: 462px;
	margin: 0;
	padding: 0;
	font-size: 0;
}

.sort li {
	list-style: none;
	display: inline-block;
	vertical-align: top;
}

.sort li:first-child {
	margin-right: 71px;
}

.sort li:nth-child(2) {
	margin-right: 65px;
}

.sort a {
	vertical-align: middle;
	font-family: "PT Sans", sans-serif;
	font-size: 13px;
	line-height: 18px; 
	color: #acaaa5;
	text-transform: uppercase;
	text-decoration: none;
	border-bottom: 1px dotted #ee3643;
}

.sort a:hover {
	color: #000000;
	border-bottom: 1px solid #ee3643;
}

.sort .active {
	color: #ee3643;
	border: none;
}

.filtres span {
	display: block;
	width: 202px;
	margin-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 18px;
	text-transform: uppercase;
	background-color: #f7f3ec;
	font-family: "PT Sans", sans-serif;
	font-size: 13px;
	line-height: 18px; 
}

input[type="checkbox"],
input[type="radio"] {
	display: none;
}

input[type="checkbox"]+label {
	position: relative;
	display: block;
	margin: 15px 0;
	font-family: "PT Sans", sans-serif;
	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;
	padding-left: 35px;
	cursor: pointer;
}

input[type="checkbox"]+label::before {
	content: "";
	position: absolute;
	top: 4px;
	left: 4px;
	background-image: url("../img/spritesheet.png");
	background-repeat: no-repeat;
	width: 23px;
	height: 23px;
	background-position: -36px -5px;
}

input[type="checkbox"]:hover+label::before {
	background-position: -104px -5px;
}

input[type="checkbox"]:checked +label::after {
	content: "";
	position: absolute;
	top: 4px;
	left: 4px;
	background-image: url("../img/spritesheet.png");
	background-repeat: no-repeat;
	width: 27px;
	height: 23px;
	background-position: -40px -73px;
}


input[type="radio"]+label {
	position: relative;
	display: block;
	margin: 15px 0;
	font-family: "PT Sans", sans-serif;
	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;
	padding-left: 35px;
	cursor: pointer;
}

input[type="radio"]+label::before {
	content: "";
	position: absolute;
	top: 4px;
	left: 4px;
	background-image: url("../img/spritesheet.png");
	background-repeat: no-repeat;
	width: 25px;
    height: 25px;
    background-position: -69px -5px;
}

input[type="radio"]:checked +label::after {
	content: "";
	position: absolute;
	top: 4px;
	left: 4px;
	background-image: url("../img/spritesheet.png");
	background-repeat: no-repeat;
	width: 25px;
    height: 25px;
    background-position: -5px -38px;
}

.form-btn {
	width: 140px;
	border: 1px solid #e5e5e5;
	border-radius: 2px;
	background-color: #ffffff;
	padding: 10px 38px;
	margin-top: 70px;
	text-transform: uppercase;
	font-family: "PT Sans", sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #000000;
	cursor: pointer;
}

.description {
	background-color: #f2f6f8;
}

.description h2 {
	font-family: "Cuprum", sans-serif;
	font-size: 21px;
	line-height: 24px;
	text-transform: uppercase;
	padding-top: 57px;
	padding-bottom: 10px;
}

.description p {
	margin: 0;
	padding-bottom: 70px;
	font-family: "PT Sans", sans-serif;
	font-size: 14px;
	line-height: 24px; 
}

.pagination {
	margin-top: 52px;
	margin-bottom: 60px;
}

.pagination a {
	display: inline-block;
	min-width: 38px;
	height: 18px;
	text-decoration: none;
	border: 1px solid #e5e5e5;
	border-radius: 2px;
	font-family: "PT Sans", sans-serif;
	font-size: 13px;
	color: #000000;
	text-transform: uppercase;
	vertical-align: top;
	text-align: center;
	margin-right: 6px;
	padding: 10px 0;
}

.next-page  {
	width: 138px;
	display: block;
	padding-left: 30px;
	padding-right: 30px;
}

.pagination .current {
	background-color: #ee3643;
	border: 1px solid #ee3643;
}

.pagination .current:hover {
	border: 1px solid #ee3643;
}

.pagination a:hover {
	border: 1px solid #bdc6ca;
}

.pagination a:active {
	border: 1px solid #ee3643;
}

.write-us {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 620px;
	border-top: 7px solid #ee3643;
	background-color: #ffffff;
}

.write-us-header {
	padding-left: 80px;
	padding-right: 80px;
}

.cart-close,
.write-us-close,
.modal-map-close {
	position: absolute;
	top: 9px;
	right: 9px;
	background-image: url("../img/spritesheet.png");
	background-repeat: no-repeat;
	background-position: -5px -5px;
	background-color: transparent;
	border: transparent;
	width: 21px;
	height: 21px;
	cursor: pointer;
}

.form-field input {
	width: 202px;
	border: 2px solid #d7dcde;
	border-radius: 2px;
	font-family: "PT Sans", sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #a7a7a7;
	padding-left: 13px;
	padding-top: 9px;
	padding-bottom: 9px;
}

.write-form label {
	display: inline-block;
	vertical-align: top;
	margin-bottom: 8px;
	font-family: "Cuprum", sans-serif;
	font-size: 18px;
	line-height: 18px;
}

.email {
	display: inline-block;
	margin-top: 45px;
	margin-bottom: 20px;
}

.name {
	display: inline-block;
	margin-top: 45px;
	margin-right: 15px;
	margin-bottom: 20px;
}

.form-field .message {
	width: 460px;
}

.form-field textarea {
	width: 443px;
	border: 2px solid #d7dcde;
	margin-bottom: 33px;
	padding-left: 13px;
	border-radius: 2px;
	font-family: "PT Sans", sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #a7a7a7;
}

.write-us-footer {
	width: 100%;
	min-height: 110px;
	background-color: #f1f1f1;
}

.write-us-footer input {
	width: 460px;
	margin: 36px 80px;
	background-color: #ee3643;
	color: #ffffff;
	font-family: "Cuprum", sans-serif;	
	font-size: 14px;
	line-height: 18px;	
	text-transform: uppercase;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 3px;
	border: none;
}

.write-us-footer input:hover {
	background-color: #b22832;
}

.modal-map {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 940px;
	height: 446px;
	margin-top: -220px;
  	margin-left: -470px;
  	z-index: 10;
}

.cart {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-left: -310px;
	width: 620px;
	height: 273px;
	border-top: 7px solid #ee3643;
	box-shadow: 0 30px 40px rgba(0, 0, 0, 0.7);
	background-color: #ffffff;
	background-image: url("../img/shape.png");
	background-repeat: no-repeat;
	background-position: 80px 47px;
	z-index: 10;
}

.cart p {
	font-family: "Cuprum", sans-serif;	
	font-size: 30px;
	line-height: 18px;	
	padding-left: 179px;
	padding-top: 73px;
	padding-bottom: 73px;
	margin: 0;
}

.cart-footer {	
	background-color: #f1f1f1;
	padding-left: 80px;
}

.cart-footer a {
	display: inline-block;
	width: 220px;
	text-align: center;
	vertical-align: top;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	text-decoration: none;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 3px;		
	margin-top: 37px;
	margin-bottom: 37px;
	margin-right: 20px;	
}

.checkout-btn  {
	background-color: #ee3643;
	color: #ffffff;
}

.continue-btn {
	background-color: #ffffff;
	color: #000000;
}

.social-btn {
	display: inline-block;
	vertical-align: middle;
	width: 42px;
	height: 42px;
	font-size: 0;
	background-color: #212a3a;
	border-radius: 21px;
	position: relative;
}

.social-btn::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-image: url("../img/spritesheet.png");
	background-repeat: no-repeat;
}

.social-btn:hover {
	background-color: #ee3643;
}

.social-btn-vk::before {
	width: 20px;
	height: 12px;
	background-position: -141px -134px;
}

.social-btn-fb::before {
    width: 10px;
    height: 18px;
    background-position: -139px -57px;
}

.social-btn-inst::before {
	width: 17px;
	height: 17px;
	background-position: -40px -107px;
}

.btn {
	cursor: pointer;
}

.write-us-show {
	display: block;
}

.modal-map-show {
	display: block;
}

.cart-show {
	display: block;
}